body {
    font-family: "Lato", sans-serif; 
    margin: 0 auto;
    background-color: white;
}
p {
    line-height: 2em;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: rgb(31, 67, 74);
  }
  
.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover {
    background-color: rgb(51, 111, 123);
}
.main{
    padding: 25px;
}
.header {
    margin-left: 25px; 
    font-size: 28px;
    color:rgb(41, 89, 97);
} 
img{
    object-fit: cover;
    width:230px;
    height:230px;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
}
.column2 {
    display: inline-block;
    width: 50%;
    
}
.column2 li{
    line-height: 2em;
}
.column3 {
    float: right;
    width: 25%;
    background-color:rgb(42, 88, 97);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
h1,h2{
    letter-spacing: 0.1em;
}
h3,h4{
    letter-spacing: 0.08em;
}



  